@*@page
@model MyStore.Pages.Employee.CreateModel
@{
}

<br />
<h2>New Client</h2>

@if(Model.errorMessage.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@Model.errorMessage</strong>
		<button type="button" class="btn-close" data-dismiss="alert" aria-label="close"></button>
	</div>
}

<form method="post">

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">ID</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" name="id" value="@Model.employeeInfo.id" />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="name" value="@Model.employeeInfo.name" />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Email</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="email" value="@Model.employeeInfo.email" />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Phone</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="phone" value="@Model.employeeInfo.phone" />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Address</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="address" value="@Model.employeeInfo.address" />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Salary</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" name="salary" value="@Model.employeeInfo.salary" />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Employee ID</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" name="employeeID" value="@Model.employeeInfo.employeeID" />
		</div>
	</div>

	@if(Model.successMessage.Length > 0)
	{
		<div class="row-mb-3">
			<div class="col-sm-9">
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>@Model.successMessage</strong>
					<button type="button" class="btn-close"></button>
				</div>
			</div>
		</div>
	}

	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/Employee/Index" role="button">Cancel</a>
		</div>
	</div>
</form>*@





@*new*@
@page
@model MyStore.Pages.Employee.CreateModel
@{
}


<h2 class="mt-4">New Client</h2>
<hr class="mb-4"/>

<div class="row	">
	@if (TempData["success"] != null)
	{
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
		<script type="text/javascript">
			toastr.success('@TempData["success"]');
		</script>
	}
	@if (TempData["error"] != null)
	{
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
		<script type="text/javascript">
			toastr.error('@TempData["error"]');
		</script>
	}
</div>

@*@if(Model.errorMessage.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@Model.errorMessage</strong>
		<button type="button" class="btn-close" data-dismiss="alert" aria-label="close"></button>
	</div>
}*@

<form method="post">

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">ID</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" name="id" value="@Model.employeeInsertInfo.id" />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="name" value="@Model.employeeInsertInfo.name" />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Email</label>
		<div class="col-sm-6">
			<input type="email" class="form-control" name="email" value="@Model.employeeInsertInfo.email" />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Phone</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="phone" value="@Model.employeeInsertInfo.phone" />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Address</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="address" value="@Model.employeeInsertInfo.address" />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Salary</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" name="salary" value="@Model.employeeInsertInfo.salary" />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Employee ID</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" name="employeeID" value="@Model.employeeInsertInfo.employeeID" />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Joining Date</label>
		<div class="col-sm-6">
			<input type="date" class="form-control" name="joiningDate" value="@Model.employeeInsertInfo.joingingDate" />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Birth Date</label>
		<div class="col-sm-6">
			<input type="date" class="form-control" name="birthDate" value="@Model.employeeInsertInfo.birthdate" />
		</div>
	</div>

	@*@if(Model.successMessage.Length > 0)
	{
		<div class="row-mb-3">
			<div class="col-sm-9">
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>@Model.successMessage</strong>
					<button type="button" class="btn-close"></button>
				</div>
			</div>
		</div>
	}*@

	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/Employee/Index" role="button">Cancel</a>
		</div>
	</div>
</form>