@page
@model MyStore.Pages.Stats.AllocateResourcesModel
@{
}

<h2 class="text-center">Allocate Resources</h2>
<hr />
<br />

@if (Model.errorMessage.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@Model.errorMessage</strong>
		<button type="button" class="btn-close" data-dismiss="alert" aria-label="close"></button>
	</div>
}

<form method="post">

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">EmployeeID</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" name="employeeID" value="@Model.resourceAllocationInfo.employeeID" />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">PRN No.</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" name="prn" value="@Model.resourceAllocationInfo.prn" />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Mouse</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="mouse" value="@Model.resourceAllocationInfo.mouse" />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Laptop</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="laptop" value="@Model.resourceAllocationInfo.laptop" />
		</div>
	</div>

	@if (Model.successMessage.Length > 0)
	{
		<div class="row-mb-3">
			<div class="col-sm-9">
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>@Model.successMessage</strong>
					<button type="button" class="btn-close"></button>
				</div>
			</div>
		</div>
	}

	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/Stats/Resources" role="button">Cancel</a>
		</div>
	</div>
</form>

